
/**
 * Front-end styling for the display of systematicreviews.
 */

input.systematicreview-calendar {
  padding: 3px;
  vertical-align: top;
}
.systematicreview-container-inline label {
  display: inline;
  margin-right: 1em;
}
.systematicreview-container-inline div,
.systematicreview-container-inline div.form-item {
  display: inline;
}
.systematicreview-container-inline div.description {
  display: block;
}
